.headerMain {
    width: 100%;
}

.headerPage {
    background-color: #263238;
    vertical-align: middle;
    position: static;
    margin-bottom: 1%;
}

.textTitle {
    color: #fff;
    font-size: 18px;
}

.headerBody {
    width: 100%;
}

.logoname,
.logoname:hover {
    color: white;
    text-decoration: none;
}